<ol class="ls-timeline">
  <li class="ls-timeline__item">
    <span class="ls-timeline__marker">1</span>
    <div class="ls-timeline__body">
      <strong class="ls-timeline__title">Plan</strong>
      <span class="ls-timeline__text">Choose a template.</span>
    </div>
  </li>
  <li class="ls-timeline__item">
    <span class="ls-timeline__marker">2</span>
    <div class="ls-timeline__body">
      <strong class="ls-timeline__title">Compose</strong>
      <span class="ls-timeline__text">Add components.</span>
    </div>
  </li>
</ol>
