<div class="ls-http-exchange" data-ls-density="compact">
  <figure class="ls-http-exchange__block">
    <figcaption class="ls-http-exchange__header">
      <span class="ls-http-exchange__method">POST</span>
      <span class="ls-http-exchange__url">/api/decks/preview</span>
    </figcaption>
    <pre><code>{
  "entry": "index.html",
  "export": false
}</code></pre>
  </figure>
  <figure class="ls-http-exchange__block">
    <figcaption class="ls-http-exchange__header">
      <span class="ls-http-exchange__status" data-ls-tone="success">200 OK</span>
      <span class="ls-http-exchange__url">application/json</span>
    </figcaption>
    <pre><code>{
  "url": "http://127.0.0.1:4321/",
  "exportUrl": "http://127.0.0.1:4321/?export=1"
}</code></pre>
  </figure>
</div>
